@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary-900: #FF008D;
  --scrollbar-thumb-color: var(--color-secondary-900);
}

::-webkit-scrollbar {
	width: 0.25em;
	height: 0.5em;
}

::-webkit-scrollbar-track {
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border-radius: 100vw;
}